.input-label {
    position: absolute;
    bottom: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    color: grey;
}

.input-label--hidden {
    display: none;
}

.input-form {
    display: flex;
    justify-content: center;
    position: relative;
}

.input {
    width: 250px;
    height: 50px;
    margin-top: 50px;
    border-radius: 0;
    border: 0;
    padding-left: 10px;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    box-shadow: 1px 1px 8px grey;
    
}

@media all and (min-width: 768px) {
    .input {
        width: 500px;
        font-size: 20px;
        padding-left: 20px;
    }
    .input-label {
        font-size: 20px;
    }
}

@media all and (min-width: 1200px) {
    .input {
        width: 700px;
    }
}